* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #444;
}

.textarea-container {
  display: block;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  resize: none;
  font-size: 1rem;
}

.convert-button {
  margin-left: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width:100%;
}

button:hover {
  background-color: #3d8b3d;
}

.result-container {
  display: block;

}

textarea[readonly] {
  background-color: #ffffff;
  color: #333;
  border: none;
  padding: 10px;
  resize: none;
  font-size: 1rem;
}
